
<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load staticfiles %}
{% load tagcnt %}
<!-- 写入 base.html 中定义的 title -->
{% block title %}
    首页
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<!-- 定义放置文章标题的div容器 -->
<div class="container main-margin">
    <div class="row">
        <div class="col-md-9 ">

            <!-- 列表循环 -->
                {% for article in articles %}
                    <!-- 标题图 -->
                    <div class="cardarea">
                        <div class="row">
                    {% if article.avatar %}
                        <div class="col-3">
                            <img src="{{ article.avatar.url }}"
                                 alt="avatar"
                                 style="max-width:100%; border-radius: 20px"
                            >
                        </div>
                    {% endif %}
                    <!-- 文章内容 -->
                    <div class="col">
                        <!-- 标题 -->
                        <h4>
                            <b>
                                <a href="{% url 'article:article_detail' article.id %}"
                                   style="color: black;"
                                >
                                    {{ article.title }}
                                </a>
                            </b>
                        </h4>
                        <!-- 摘要 -->
                        <div>
                            <p style="color: gray;">
                                {{ article.body|slice:'100' }}...
                            </p>
                        </div>
                        <!-- 注脚 -->
                        <p class="footer">
                            <!-- 附加信息，增加了图标 -->
                            <span>
                                <i class="fas fa-eye" style="color: grey;"></i>
                                {{ article.total_views }}&nbsp;&nbsp;&nbsp;
                            </span>
                            <span>
                                <i class="fas fa-comments" style="color: grey;"></i>
                                <!-- 修改为评论的计数 -->
                                {{ article.comments.count }}&nbsp;&nbsp;&nbsp;
                            </span>
                            <span>
                                <i class="fas fa-clock" style="color: grey;"></i>
                                {{ article.created|date:'Y-m-d' }}
                            </span>
                            <span class="home-article-category"><i class="fas fa-folder" style="color: grey;"></i>
                            {{ article.column }}
                        </span>
                        <hr/>
                        <div class=" field is-grouped is-grouped-multiline">
                        {% for tag in article.tags.all %}
                        <div class="control" ><a class="tags has-addons" href="{% url 'article:article_list' %}?tag={{ tag.name }}"><span class="tag" style="margin-bottom:0px">{{ tag.name }}</span><span class="tag" style="margin-bottom:0px">{{ tag.name|tagcnt }}</span></a></div>
                        {% endfor %}
                        </div>
                            </div>
                            </div>
                            </div>
                        {% endfor %}

            <div class="pagination row">
                <div class="m-auto">
                    <span class="step-links">
                        <!-- 如果不是第一页，则显示上翻按钮 -->
                        {% if articles.has_previous %}
                            <a href="?page=1&order={{ order }}&search={{ search }}&tag={{ tag }}" class="btn btn-info" style="border-radius: 0px">
                                首页
                            </a>
                            <span class="btn btn-default"> ...</span>
                            <a href="?page={{ articles.previous_page_number }}&order={{ order }}&search={{ search }}&tag={{ tag }}" style="border-radius: 0px"
                               class="btn btn-secondary"
                            >
                                {{ articles.previous_page_number }}
                            </a>
                        {% endif %}

                        <!-- 当前页面 -->
                        <span class="current btn btn-info " style="border-radius: 0px">
                            {{ articles.number }}
                        </span>

                        <!-- 如果不是最末页，则显示下翻按钮 -->
                        {% if articles.has_next %}
                            <a href="?page={{ articles.next_page_number }}&order={{ order }}&search={{ search }}&tag={{ tag }}"
                               class="btn btn-secondary" style="border-radius: 0px"
                            >
                                {{ articles.next_page_number }}
                            </a>
                            <span class="btn btn-default">...</span>
                            <a href="?page={{ articles.paginator.num_pages }}&order={{ order }}&search={{ search }}&tag={{ tag }}"
                               class="btn btn-info" style="border-radius: 0px"
                            >
                                 尾页
                            </a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3 hidden-xs">
            <div class="cardarea" data-type="profile">
    <div class="card-content" style="padding-bottom: 2em;">
        <nav class="level">
            <div class="level-item has-text-centered flex-shrink-1">
                <div>
                    <figure class="" style="margin:1em; "><img class="rounded-circle img-fluid img-thumbnail" style="width: 100px; "
                            src="https://animg.oss-cn-shanghai.aliyuncs.com/avater.jpg" alt="PPOffice">
                    </figure>
                    <p class="titlename is-size-4 is-block" style="line-height:inherit;">An</p>
                    <p class="is-size-6 is-block">域名1个月后将会过期，如无法访问，建议直接访问 ip:47.100.93.220:80</p>
                    <p class="is-size-6 is-flex justify-content-center"><i
                            class="fas fa-map-marker-alt mr-1"></i><span>江苏南京</span></p>
                </div>
            </div>
        </nav>
        <nav class="level is-mobile">
            <div class="level-item has-text-centered is-marginless">
                <div>
                    <p class="heading">Posts</p><a href="#">
                        <p class="titlename">{{articlenum }}</p>
                    </a>
                </div>
            </div>
            <div class="level-item has-text-centered is-marginless">
                <div>
                    <p class="heading">Categories</p><a href="#">
                        <p class="titlename">{{colnum}}</p>
                    </a>
                </div>
            </div>
            <div class="level-item has-text-centered is-marginless">
                <div>
                    <p class="heading">Tags</p><a href="#">
                        <p class="titlename">{{tagsnum}}</p>
                    </a>
                </div>
            </div>
        </nav>

    </div>
</div>

            <!-- 新增，搜索栏 -->
            <div class="row" style="margin-bottom: 10px">
                <form class="form-inline" >
                <div class=" input-group col-auto mr-auto" style="margin-top:0px positon:relative">
                        <label class="sr-only">content</label>
                        <input type="text"
                            class="form-control"
                            name="search"
                            placeholder="搜索文章..."
                            required
                        >
                        <span class="input-group-btn">
                           <button class="btn btn-info btn-search" style="border-radius: 0px">查找</button>

                        </span>
                </div>
                </form>
            </div>

            <!-- 新增，搜索提示语 -->
            {% if search %}
                {% if articles %}
                    <h4><span style="color: red">"{{ search }}"</span>的搜索结果：</h4>
                    <hr>
                {% else %}
                    <h4>暂无<span style="color: red">"{{ search }}"</span>有关的文章。</h4>
                    <hr>
                {% endif %}
            {% endif %}
            <div class="cardarea field is-grouped is-grouped-multiline">
                {% for tag in tags %}
                <div class="control"><a class="tags has-addons" href="{% url 'article:article_list' %}?tag={{ tag.name }}"><span class="tag">{{ tag.name }}</span><span class="tag">{{ tag.name|tagcnt }}</span></a></div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- 页码导航 -->

{% endblock content %}