<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>page</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="e18f2ea689fa4f339e888ac7816c7de6" class="chart-container" style="width:1500px; height:780px;"></div>
    <script>
        var chart_e18f2ea689fa4f339e888ac7816c7de6 = echarts.init(
            document.getElementById('e18f2ea689fa4f339e888ac7816c7de6'), 'white', {renderer: 'canvas'});
        var option_e18f2ea689fa4f339e888ac7816c7de6 = {
    "backgroundColor": "rgba(255,250,205,0.2)",
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "\u7ed3\u70b9121",
                    "fixed": false,
                    "symbolSize": 20
                },
                {
                    "name": "\u7ed3\u70b9436",
                    "fixed": false,
                    "symbolSize": 20
                },
                {
                    "name": "\u7ed3\u70b9171",
                    "fixed": false,
                    "symbolSize": 20
                },
                {
                    "name": "\u7ed3\u70b9322",
                    "fixed": false,
                    "symbolSize": 20
                },
                {
                    "name": "\u7ed3\u70b9326",
                    "fixed": false,
                    "symbolSize": 20
                },
                {
                    "name": "\u7ed3\u70b91136",
                    "fixed": false,
                    "symbolSize": 20
                },
                {
                    "name": "\u7ed3\u70b91537",
                    "fixed": false,
                    "symbolSize": 20
                },
                {
                    "name": "\u7ed3\u70b91938",
                    "fixed": false,
                    "symbolSize": 20
                },
                {
                    "name": "\u7ed3\u70b92339",
                    "fixed": false,
                    "symbolSize": 20
                },
                {
                    "name": "\u7ed3\u70b92740",
                    "fixed": false,
                    "symbolSize": 20
                },
                {
                    "name": "\u7ed3\u70b93141",
                    "fixed": false,
                    "symbolSize": 20
                },
                {
                    "name": "\u7ed3\u70b93542",
                    "fixed": false,
                    "symbolSize": 20
                },
                {
                    "name": "\u7ed3\u70b9616",
                    "fixed": false,
                    "symbolSize": 20
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "middle",
                "margin": 8,
                "formatter": "{b} \u4f20\u67d3\u4e86 {c}"
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "\u7ed3\u70b9121",
                    "target": "\u7ed3\u70b9171",
                    "value": 1
                },
                {
                    "source": "\u7ed3\u70b9121",
                    "target": "\u7ed3\u70b9322",
                    "value": 2
                },
                {
                    "source": "\u7ed3\u70b9121",
                    "target": "\u7ed3\u70b9326",
                    "value": 3
                },
                {
                    "source": "\u7ed3\u70b9121",
                    "target": "\u7ed3\u70b91136",
                    "value": 4
                },
                {
                    "source": "\u7ed3\u70b9121",
                    "target": "\u7ed3\u70b91537",
                    "value": 5
                },
                {
                    "source": "\u7ed3\u70b9121",
                    "target": "\u7ed3\u70b91938",
                    "value": 6
                },
                {
                    "source": "\u7ed3\u70b9121",
                    "target": "\u7ed3\u70b92339",
                    "value": 7
                },
                {
                    "source": "\u7ed3\u70b9121",
                    "target": "\u7ed3\u70b92740",
                    "value": 8
                },
                {
                    "source": "\u7ed3\u70b9121",
                    "target": "\u7ed3\u70b93141",
                    "value": 9
                },
                {
                    "source": "\u7ed3\u70b9121",
                    "target": "\u7ed3\u70b93542",
                    "value": 10
                },
                {
                    "source": "\u7ed3\u70b9436",
                    "target": "\u7ed3\u70b9616",
                    "value": 11
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u4f20\u67d3\u5173\u7cfb\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_e18f2ea689fa4f339e888ac7816c7de6.setOption(option_e18f2ea689fa4f339e888ac7816c7de6);
    </script>
</body>
</html>
